<?xml version="1.0"?>
<launch>

  <!-- Map real robot -->
  <arg name="map_file" default="$(find waiteronix_navigation)/map/map.yaml"/>
  <master auto="start"/>

  <!-- Map simulation -->
  <!-- <arg name="map_file" default="$(find waiteronix_navigation)/maps/arche/arche.yaml"/>
  <master auto="start"/> -->

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  
  <!-- AMCL -->
  <include file="$(find waiteronix_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find waiteronix_navigation)/launch/move_base.launch"/>

  <!-- Rviz for navigation -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find waiteronix_navigation)/rviz/waiteronix.rviz"/>  -->

</launch>