<?xml version="1.0"?>

<launch>
  <!-- Launch the robot_localization node -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node" output="screen">
    <rosparam file="$(find imu_odom_t)/param/imu.yaml" command="load" /> 
    <remap from="/odometry/filtered" to="/odom" />
  </node>


</launch>


