<?xml version="1.0"?>
<launch>
   <include file="$(find ros_wheel_encoder_odometry)/launch/odometry.launch"/>
   
   <include file="$(find rplidar_ros)/launch/rplidar_a2m12.launch"/>
   <include file="$(find laser_filter)/launch/laser_filter.launch"/>
   
   <include file="$(find waitronix_description)/launch/rviz.launch"/>
   
   <include file="$(find gmapping )/launch/gmapping.launch"/>
   <node pkg="map_server" type="map_saver" name="map_saver" args="-f $(arg /home/gp/catkin_ws/src/maps/map.pgm )" >
   </node>
   
</launch>
